<!DOCTYPE html>
<html ng-app="wampMessagingApp">
   <head>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
      <!-- AutobahnJS -->
      <script src="bower_components/autobahn/autobahn.js"></script>

      <!-- AngularWAMP -->
      <script src="bower_components/angular-wamp/release/angular-wamp.js"></script>
      <script src="js/wampclient.js"></script>

   </head>
   <body ng-controller="WampMessagingController">
      <!-- <li ng-show="messages"> -->
      <textarea rows="4" cols="50">
         {{conversationText}}
      </textarea>
      <br>
      <form>
         <input ng-model="textToSend">
         <input type = "submit" value="Send Message" ng-click="submitText()">
      </form>
    </li>
   </body>
</html>
